html {
 background-color: #2980b9;
}

html, body {
  margin: 80px;
  padding: 0;
  
}

header {
  text-align: center;
  align-items: center;
}

body {
  font-family: 'Parisienne', cursive;
  font-weight: 100;
  text-align: center;
  font-size: 28px;
  color: white;
}

p {
  font-family: 'Sriracha', cursive;
  font-size: 22px;
  color: white;
}

#logolayout {
  padding-bottom: 100px;
  align-items: center;
}

#logopic {
 min-heigth: 300px;
 min-width: 300px;
 max-heigth: 50%;
 max-width: 50%;
 heigth: auto;
 width: auto;
}

@media only screen and (max-device-width: 480px) {

        #logopic {
          min-heigth: 200px;
          min-width: 200px;
          max-heigth: 50%;
          max-width: 50%;
          heigth: auto;
          width: auto;
        }

        div#intro h1 {
          font-size: 60px;
        }
  
        div#intro p {
          font-size: 32px;
          text-align: justify;
          overflow-wrap: normal;
        }

    }
