html, body {
  margin-top: 80px;
  padding: 0;
}

header {
  text-align: center;
  align-items: center;
}

body {
  font-family: 'Parisienne';
  font-weight: 100;
  text-align: center;
}
