html, body {
  margin-top: auto;
  padding: 0;
}

header {
	text-align: center;
	align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}
