html, body {
  margin: 80px;
  padding: 0;
  
}

header {
  text-align: center;
  align-items: center;
}

body {
  font-family: 'Parisienne', cursive;
  font-weight: 100;
  text-align: center;
}

p {
  font-family: 'Sriracha', cursive;
  font-size: 15px;
}

#logopic {
  heigth: 187px;
  width: 187px;
}

#logolayout {
  padding: 80px; 
}

@media only screen and (max-device-width: 480px) {

        #logopic {
          heigth: 600px;
          width: 600px;
        }
  
        div#intro h1 {
          font-size: 60px;
        }
  
        div#intro p {
          font-size: 32px;
          text-align: justify;
          overflow-wrap: normal;
        }

    }
